body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 0;
    background-color: #8a2be2;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Add rounded corners to the form */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Add rounded corners to the input fields */
    background-color: #333;
    color: #fff;
}

button {
    background-color: #8a2be2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #800080;
}

h2 {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

#lastLocation,
#database {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #2a2a2a;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Add rounded corners to the sections */
}

/* Animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#lastLocation[data-animate="true"],
#database[data-animate="true"] {
    animation: fadeInOut 3s infinite;
}
